<template>
	<div>
		<button class="nav_menu" v-on:click='nav_click' data-cy="nav_menu_open"><img width=24 height=24 src="https://vectorified.com/images/kebab-menu-icon-12.png"/></button>
	    <transition name="menu">
        <div class="nav_menu_inner" v-show="nav_open" data-cy="nav_menu_inner">
        	<ul>
				<li v-for="(item, index) in items" :key="item">
					<button class="nav_item" v-on:click='item_click' :data-cy="'nav_item_'+view_names[index]" :id=index.toString()>
						<div v-if="index == selected">
							<u>{{ item }}</u>
						</div>
						<div v-else>
							{{ item }}
						</div>
					</button>
				</li>
        	</ul>
      	</div>
  		</transition>
	</div>
	<div :data-cy="'div_'+view_names[selected]">
		<component v-bind:is="views[selected]"></component>
	</div>
</template>

<script lang="ts">
import { defineComponent, markRaw } from "vue";
import ProductTypeView from "@/components/ProductTypeView.vue"
import ProductView from "@/components/ProductView.vue"
import PurchaseListView from "@/components/PurchaseListView.vue"

export default defineComponent({
	data(){
		return{
			nav_open: false,
			selected: 0,
			view_names: ["ProductTypeView", "ProductView", "PurchaseListView"],
			items: ["Lebensmittelarten", "Lebensmittelbestände", "Einkaufslisten"],
			views: markRaw([ProductTypeView, ProductView, PurchaseListView])
		}
	},
	methods: {
		nav_click(){
			this.nav_open = !this.nav_open;
		},
		item_click(e: any){
			var id = e.currentTarget.id;
			this.selected = parseInt(id);
		}
	}
})
</script>

<style scoped>
.nav_item{
	border-radius: 2px;
}

.nav_menu{
	border-radius: 2px;
}

li{
	list-style-type: none;
}

ul{
	margin: 0;
	padding: 0;
}

</style>
