<template>
    <p><b> Produktartenübersicht </b></p>
    <input data-cy="input_new" v-model="newProductName" placeholder="Name der Produktart">
    <button data-cy="button_new" v-on:click="addProduct">Produktart hinzufügen</button>
    <br/>
    <div v-if="store.getProductTypes.length > 0">
        <br/>
        Suche: <input data-cy="searchbar" v-model="search">
        <br/>
    </div>
    <div :data-cy="'item_'+index" v-for="item, index in store.getProductTypes.filter(val => val.name.includes(search) || val.brand.includes(search) || val.desc.includes(search))" class="pitem" :key="item.id">
        <div class="button-align">
            <button v-on:click="editProduct(item)" class="button-left" :data-cy="'button_'+index+'_edit'">Bearbeiten</button>
            <button v-on:click="addProductToList(item)" :data-cy="'button_'+index+'_add_list'" :disabled="!(listStore.getPurchaseLists.length > 0 && item.isValid())" class="button-left">Zu Liste hinzufügen</button>
            <button v-on:click="remProduct(item)" class="button-right" :data-cy="'button_'+index+'_delete'">🗙</button>
        </div>
        <br/>
        <div :data-cy="'item_'+index+'_name'">Name: {{ item.name }}</div>
        <div :data-cy="'item_'+index+'_brand'">Marke/Hersteller: {{ item.brand }}</div>
        <div :data-cy="'item_'+index+'_desc'">Beschreibung: {{ item.desc }}</div>
        <div :data-cy="'item_'+index+'_ingredients'" v-if="item.ingredients.length > 0">
            Inhaltsstoffe:
            <ul v-for="subitem, subindex in item.ingredients">
                <li :data-cy="'ingredient_'+index+'_'+subindex">{{ subitem }}</li>
            </ul>
        </div>
        <div :data-cy="'item_'+index+'_price'">Preis: {{ item.price }}€</div>
        <div :class="inventory_target_check(item)" :data-cy="'item_'+index+'_inventory_target'">
            Inventar-Soll: {{ item.inventory_target }} <br/>
        </div>
        <br/>
    </div>
    <ProductTypeEdit v-if="store.getEditProductType" :item="store.getEditProductType"/>
    <PurchaseListAddProductAmount v-if="store.getAddToPurchaseList" :item="store.getAddToPurchaseList"/>
</template>


<script lang="ts">
import { ProductType } from "@/classes/product";
import { productStore, productTypeStore, purchaseListStore } from "@/store/global";
import { defineComponent } from "@vue/runtime-core";
import ProductTypeEdit from "./ProductTypeEdit.vue";
import PurchaseListAddProductAmount from "./PurchaseListAddProductAmount.vue";
import _ from "lodash";

export default defineComponent({
    data(){
        return {
            store: productTypeStore(),
            listStore: purchaseListStore(),
            pstore: productStore(),
            newProductName: "",
            search: ""
        }
    },
    methods: {
        addProduct(){
            if(this.newProductName.length > 0){
                this.store.addProductType(new ProductType(this.newProductName, "", [], 0.0, "", 0));
            }
            else{
                this.$toast.error("Es wurde kein Produktname angegeben");
            }
            this.newProductName = "";
        },
        async remProduct(item: ProductType){
            let ok = await confirm("Wenn Sie diesen Produkttyp entfernen, werden auch alle dazugehörigen Produkte in den Lebensmittelbestände entfernt - sind Sie sicher?!");
            if(ok){
                this.pstore.remProductType(item);
                this.store.remProductType(item);
            }
        },
        editProduct(item: ProductType){
            this.store.setEditProductType(_.cloneDeep(item));
        },
        inventory_target_check(item: ProductType): string{
            var i=0;
            this.pstore.getProducts.forEach(val => { if(val.type.id == item.id){ i+=1; } });
            if(i<item.inventory_target){
                return "inventory_expected";
            }
            else{
                return "";
            }
        },
        addProductToList(item: ProductType){
            this.store.setAddToPurchaseList(_.cloneDeep(item));
        }
    },
    components:{
        ProductTypeEdit,
        PurchaseListAddProductAmount
    }
});
</script>

<style scoped>
    .pitem{
        display: inline-block;
        border: 2pt solid black;
        margin: 2pt;
        min-width: 200pt;
    }

    .button-align{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .button-left{
        justify-content: left;
    }

    .button-right{
        justify-content: right;
    }

    ul{
	    margin: 0;
    }
    .inventory_expected{
        background-color: orange;
    }

    input{
        width: 100pt;
    }
</style>