<template>
    <transition name="">
        <div class="modal-mask" data-cy="modal">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-header">
                        <slot name="header">
                            <b>Produktart bearbeiten</b>
                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                            <form>
                                Name: <input data-cy="input_name" v-model="item.name" type="text" required> <br/>
                                Marke/Hersteller: <input data-cy="input_brand" v-model="item.brand" required> <br/>
                                Beschreibung: <input data-cy="input_desc" v-model="item.desc"> <br/>
                                Inhaltsstoffe: <br/>
                                <div v-for="(subitem, index) in item.ingredients">
                                    <button :data-cy="'rem_ingredient_'+index" v-on:click="removeIngredient(index, $event)">-</button> <input :data-cy="'input_ingredient_'+index" v-model="item.ingredients[index]" required> <br/>
                                </div>
                                <button data-cy="add_ingredient" v-on:click="addIngredient">Inhaltsstoff hinzufügen</button><br/>
                                Preis: <input data-cy="input_price" v-model="item.price" pattern="[0-9]{1,}(\.[0-9]+){0,1}" required> <br/>
                                Inventar-Soll: <input data-cy="input_inventory_target" type="number" min="0" v-model="item.inventory_target"> <br/>
                                <br/>
                            </form>
                        </slot>
                    </div>

                    <div class="modal-footer">
                        ⠀
                        <button class="modal-default-button" data-cy="modal_update" v-on:click="update" :disabled="!item.isValid()">Aktualisieren</button>
                        <button class="modal-default-button" data-cy="modal_cancel" v-on:click="cancel">Abbrechen</button>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script lang="ts">
import { productTypeStore } from "@/store/global";
import { defineComponent } from "vue";
import "@/styles/modal.css";
import "@/styles/formvalidation.css";

export default defineComponent({
    data(){
        return {
            store: productTypeStore(),
        }
    },
    methods: {
        update(){
            this.item.price = Number(this.item.price);
            this.store.updateProductType(this.item);
            this.store.setEditProductType(null);
        },
        cancel(){
            this.store.setEditProductType(null);
        },
        removeIngredient(index: number, e: any){
            e.preventDefault();
            this.item.ingredients.splice(index, 1);
        },
        addIngredient(e: any){
            e.preventDefault();
            this.item.ingredients.push("");
        }
    },
    props: ['item']
})

</script>

<style scoped>
</style>