<template>
    <p><b> Produktübersicht </b></p>
    <table>
        <tr>
            <th :data-cy="'ordering_column_'+index" v-for="(item, index) in sections" :key="item" v-on:click="setOrdering(index)">
                <div v-if="order_by==index">
                    <div v-if="order_asc">
                        {{ item }} ▼
                    </div>
                    <div v-else>
                        {{ item }} ▲
                    </div>
                </div>
                <div v-else>
                    {{ item }}
                </div>
            </th>
            <th></th>
        </tr>
        <tr>
            <td>
                <select data-cy="select_producttype" name="Produkt" v-model="newProduct">
                    <option v-for="item in typeStore.getProductTypesValid" :value="item" :key="item.id"> {{ item }}</option>
                </select>
            </td>
            <td>
                Aktuelles Datum
            </td>
            <td>
                <input data-cy="date_due_to" type="date" v-model="due_to_date"/>
            </td>
            <td>
                <input data-cy="input_storage_location" v-model="storage_loc_name" list="storage_locations"/>
                <datalist data-cy="datalist_storage_location" id="storage_locations">
                    <option v-for="item in store.getUniqueStorageLocations" :value="item" :key="item"> {{ item }}</option>
                </datalist>
            </td>
            <td>
                <button data-cy="add_product" v-on:click="addProduct">Produkt hinzufügen</button>
            </td>
        </tr>
        <!-- Empty chars to prevent HTML from removing this row -->
        <tr>
            <td>⠀</td>
            <td>⠀</td>
            <td>⠀</td>
            <td>⠀</td>
            <td>⠀</td>
        </tr>
        <tr :data-cy="'row_item_'+index" v-for="item, index in store.getProducts.sort((n1, n2) => compareProducts(n1, n2))" 
            :key="item.id" :class="getRowStyles(item)">
            <td :data-cy="'item_type_'+index">{{ item.type }}</td>
            <td :data-cy="'item_bought_'+index">{{ item.bought_date.toLocaleDateString() }}</td>
            <td :data-cy="'item_due_to_'+index">{{ item.due_to.toLocaleDateString() }}</td>
            <td :data-cy="'item_storage_location_'+index">{{ item.storage_location }}</td>
            <td :data-cy="'item_remove_'+index"><button v-on:click="remProduct(item)">Produkt entfernen</button></td>
        </tr>
    </table>
</template>


<script lang="ts">
import { Product } from "@/classes/product";
import { productStore, productTypeStore } from "@/store/global";
import { defineComponent } from "@vue/runtime-core";

export default defineComponent({
    data(){
        return {
            store: productStore(),
            typeStore: productTypeStore(),
            newProduct: null,
            due_to_date: "",
            storage_loc_name: "",
            order_by: 2,
            order_asc: true,
            sections: ["Produkt(Marke)", "Gekauft am", "Haltbar bis", "Lagerort"]
        }
    },
    methods: {
        addProduct(){
            if(this.newProduct != null && this.due_to_date.length > 0 && this.storage_loc_name.length > 0 ){
                this.store.addProduct(new Product(this.newProduct, new Date(this.due_to_date), this.storage_loc_name))
            }
            else{
                this.$toast.error("Nicht alle Felder(Produkt, MHD, Lagerort) sind ausgefüllt.");
            }
        },
        remProduct(item: Product){
            this.store.remProduct(item);
        },
        getRowStyles(item: Product): string{
            var diff = (item.due_to.getTime() - Date.now()) /1000/60/60/24;
            if(diff <= 1){
                return "due_to_red";
            }
            else if(diff <= 5){
                return "due_to_orange";
            }
            else if(diff <= 10){
                return "due_to_yellow";
            }
            return "";
        },
        setOrdering(index: number){
            if(index == this.order_by){
                this.order_asc = !this.order_asc;
                return;
            }
            this.order_by = index;
            this.order_asc = true;
        },
        compareProducts(n1: Product, n2: Product): number{
            if(this.order_asc){
                switch(this.order_by){
                    case 0:
                        return n1.type >= n2.type ? 1 : -1;
                    case 1:
                        return n1.bought_date >= n2.bought_date ? 1 : -1;
                    case 2:
                        return n1.due_to >= n2.due_to ? 1 : -1;
                    case 3:
                        return n1.storage_location >= n2.storage_location ? 1 : -1;
                }
            }
            else{
                switch(this.order_by){
                    case 0:
                        return n1.type <= n2.type ? 1 : -1;
                    case 1:
                        return n1.bought_date <= n2.bought_date ? 1 : -1;
                    case 2:
                        return n1.due_to <= n2.due_to ? 1 : -1;
                    case 3:
                        return n1.storage_location <= n2.storage_location ? 1 : -1;
                }
            }
            return 0;
        }
    },
});
</script>

<style scoped>
    .pitem{
        display: inline-block;
        border: 2pt solid black;
    }

    .button-edit{
        justify-content: left;
        display: flex;
    }

    .button-x{
        justify-content: right;
        display: flex;
    }

    .due_to_yellow{
        background-color: yellow;
    }
    .due_to_red{
        background-color: red;
    }
    .due_to_orange{
        background-color: orangered;
    }
    select{
        min-width: 100pt;
    }
</style>