<template>
    <transition name="">
        <div class="modal-mask" data-cy="modal">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-header">
                        <slot name="header">
                            <b>Produkt zu Einkaufsliste hinzufügen</b>
                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                            <input data-cy="input_amount" type="number" min="0" v-model="amount"/> {{ item }} zu folgender Liste hinzufügen
                            <select data-cy="select_purchase_list" name="Einkaufsliste" v-model="list">
                                <option v-for="item in store.getPurchaseLists" :value="item" :key="item.id"> {{ item }}</option>
                            </select>
                        </slot>
                    </div>

                    <div class="modal-footer">
                        ⠀
                        <button data-cy="button_add" class="modal-default-button" v-on:click="add">Hinzufügen</button>
                        <button data-cy="button_cancel" class="modal-default-button" v-on:click="cancel">Abbrechen</button>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script lang="ts">
import { productTypeStore, purchaseListStore } from "@/store/global";
import { defineComponent } from "vue";
import "@/styles/modal.css";
import { ProductAmount, PurchaseList } from "@/classes/purchase";
import type { ProductType } from "@/classes/product";

export default defineComponent({
    data(){
        return {
            store: purchaseListStore(),
            typeStore: productTypeStore(),
            amount: 0 as number,
            list: null as PurchaseList | null
        }
    },
    methods: {
        add(){
            if(this.list != null && this.amount > 0){
                this.list.products.push(new ProductAmount(this.item, this.amount));
                this.typeStore.setAddToPurchaseList(null);
            }
        },
        cancel(){
            this.typeStore.setAddToPurchaseList(null);
        },
    },
    props: ['item']
})

</script>

<style scoped>
</style>