<template>
    <transition name="">
        <div class="modal-mask" data-cy="modal">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-header">
                        <slot name="header">
                            <b>Einkaufsliste bearbeiten</b>
                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                            <form>
                                Name: <input data-cy="input_name" v-model="item.name" required> <br/>
                                Kaufen bis: <input data-cy="input_buy_until" v-model="item.buy_until" type="date" required/>
                            </form>
                            <table>
                                <tr :data-cy="'table_item'+index" v-for="(i, index) in item.products">
                                    <td :data-cy="'table_product_'+index">{{ i.product }}</td>
                                    <td :data-cy="'table_amount_'+index">{{ i.amount }}</td>
                                    <td><input :data-cy="'table_bought_'+index" type="checkbox" v-model="item.products[index].bought"/></td>
                                    <td><button :data-cy="'table_button_rem_'+index" v-on:click="removeProductAmount(index)">-</button></td>
                                </tr>
                                <tr>
                                    <td>
                                        <select data-cy="select_product" name="Produkt" v-model="newProductType">
                                            <option v-for="item in typeStore.getProductTypesValid" :value="item" :key="item.id"> {{ item }}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input data-cy="input_amount" type="number" min="0" max="99" v-model="newAmount"/>
                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        <button data-cy="button_add" v-on:click="addProductAmount">Hinzufügen</button>
                                    </td>
                                </tr>
                            </table>
                        </slot>
                    </div>

                    <div class="modal-footer">
                        ⠀
                        <button class="modal-default-button" data-cy="modal_update" v-on:click="update">Aktualisieren</button>
                        <button class="modal-default-button" data-cy="modal_cancel" v-on:click="cancel">Abbrechen</button>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script lang="ts">
import { productTypeStore, purchaseListStore } from "@/store/global";
import { defineComponent } from "vue";
import "@/styles/modal.css";
import "@/styles/formvalidation.css";
import { ProductAmount } from "@/classes/purchase";
import type { ProductType } from "@/classes/product";

export default defineComponent({
    data(){
        return {
            store: purchaseListStore(),
            typeStore: productTypeStore(),
            newProductType: null as ProductType | null,
            newAmount: 0
        }
    },
    methods: {
        update(){
            if(this.item.buy_until){
                this.store.updatePurchaseList(this.item);
                this.store.setEditPurchaseList(null);
            }
        },
        cancel(){
            this.store.setEditPurchaseList(null);
        },
        removeProductAmount(index: number){
            this.item.products.splice(index, 1);
        },
        addProductAmount(){
            if(this.newProductType != null && this.newAmount > 0){
                this.item.products.push(new ProductAmount(this.newProductType, this.newAmount));
            }
        }
    },
    props: ['item']
})

</script>

<style scoped>
</style>