<template>
    <p><b> Einkaufslisten </b></p>
    <input data-cy="input_name" v-model="newListName" placeholder="Name der Einkaufsliste"/>
    <div class="tooltip">
        <input data-cy="input_buy_until" type="date" v-model="listBuyUntil"/>
        <span class="tooltiptext">Einzukaufen bis ...</span>
    </div>
    <button data-cy="button_new" v-on:click="addList">Neue Einkaufsliste anlegen</button>
    <br>
    <div v-if="listStore.getPurchaseLists.length > 0">
        <br/>
        Suche: <input data-cy="search" v-model="search"/>
        <br/>

        <table>
            <tr>
                <th>Name</th>
                <th>Einzukaufen bis</th>Test purchase lists

                <th></th>
            </tr>
            <tr>
                <td>⠀</td>
                <td>⠀</td>
                <td>⠀</td>
                <td>⠀</td>
            </tr>
            <tr :data-cy="'item_'+index" v-for="item, index in listStore.getPurchaseLists.filter(val => val.name.includes(search)).sort((n1, n2) => {
                if(n1.buy_until > n2.buy_until){
                    return 1;
                }
                if(n1.buy_until < n2.buy_until){
                    return -1;
                }
                return 0;
            })" :key="item.id">
                <td :data-cy="'item_name_'+index">{{ item.name }}</td>
                <td :data-cy="'item_buy_until_'+index">{{ new Date(item.buy_until).toLocaleDateString() }}</td>
                <td :data-cy="'item_edit_'+index"><button v-on:click="editList(item)">Liste bearbeiten</button></td>
                <td :data-cy="'item_rem_'+index"><button v-on:click="remList(item)">Liste entfernen</button></td>
            </tr>
        </table>
    </div>
    <PurchaseListEdit v-if="listStore.getEditPurchaseList" :item="listStore.getEditPurchaseList"/>
</template>


<script lang="ts">
import { PurchaseList } from '@/classes/purchase';
import { productStore, productTypeStore, purchaseListStore } from "@/store/global";
import { defineComponent } from "@vue/runtime-core";
import "@/styles/tooltip.css";
import PurchaseListEdit from "./PurchaseListEdit.vue";
import _ from "lodash";

export default defineComponent({
    data(){
        return {
            pStore: productStore(),
            listStore: purchaseListStore(),
            newListName: "",
            listBuyUntil: null,
            search: ""
        }
    },
    methods: {
        addList(){
            if(this.newListName.length > 0 && this.listBuyUntil){
                this.listStore.addPurchaseList(new PurchaseList(this.newListName, this.listBuyUntil));
            }
            else{
                this.$toast.error("Nicht alle Felder(Name und Datum) sind ausgefüllt.");
            }
        },
        remList(item: PurchaseList){
            this.listStore.remPurchaseList(item);
        },
        editList(item: PurchaseList){
            this.listStore.setEditPurchaseList(_.cloneDeep(item));
        }
    },
    components:{
        PurchaseListEdit
    }
});
</script>

<style scoped>
    .pitem{
        display: inline-block;
        border: 2pt solid black;
    }
    select{
        min-width: 100pt;
    }
</style>