<script lang="ts">
import { defineComponent, onBeforeMount, onBeforeUnmount, onMounted } from "vue"
import { productStore, productTypeStore, purchaseListStore } from "@/store/global";
import NavMenu from "./components/NavMenu.vue"
import ProductTypeView from "./components/ProductTypeView.vue"
import { ProductType, Product } from "@/classes/product";
import { PurchaseList } from '@/classes/purchase';
import ProductView from "./components/ProductView.vue"
import PurchaseListView from "./components/PurchaseListView.vue"

const PRODUCT_TYPES_KEY = "productTypes";
const PRODUCTS_KEY = "products";
const PURCHASE_LISTS_KEY = "purchaseLists";


export default defineComponent({
	components: {
		NavMenu,
		ProductTypeView,
		ProductView,
		PurchaseListView
	},
	mounted
})

//TODO: twice loading purchaseLists causes problems

async function mounted(){
	const productTypes = localStorage.getItem(PRODUCT_TYPES_KEY);
	const products = localStorage.getItem(PRODUCTS_KEY);
	const purchaseLists = localStorage.getItem(PURCHASE_LISTS_KEY);

	if(productTypes!=null){
		productTypeStore().setProductTypes(ProductType.fromJSON(productTypes));
	}
	if(products!=null){
		productStore().setProducts(Product.fromJSON(products));
	}
	if(purchaseLists!=null){
		purchaseListStore().setPurchaseLists(PurchaseList.fromJSON(purchaseLists));
	}
}

window.addEventListener("beforeunload", function(e){
	localStorage.setItem(PRODUCT_TYPES_KEY, JSON.stringify(productTypeStore().getProductTypes));
	localStorage.setItem(PRODUCTS_KEY, JSON.stringify(productStore().getProducts));
	localStorage.setItem(PURCHASE_LISTS_KEY, JSON.stringify(purchaseListStore().getPurchaseLists));
})

</script>
<template>
	<div>
		<NavMenu/>
	</div>
	<br/>
</template>


<style>
	button{
		border-radius: 2px;
		height: 24pt;
	}
</style>
